* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: linear-gradient(90deg, #f3d9e9, #f8e9d1); 
}





.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #f6efff;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #5c5c5c; 
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #a094ff; 
  outline: none;
  width: 320px;
  background: #f5f5f5;
  color: #333; 
}

.todo-input::placeholder {
  color: #999;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(255, 162, 176, 1) 0%,
    rgba(255, 207, 160, 1) 100%
  ); 
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #94d4ff; 
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(184, 217, 255, 1) 0%,
    rgba(171, 230, 255, 1) 100%
  ); /* Light blue gradient */
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #333; 
  background: linear-gradient(
    90deg,
    rgba(255, 187, 187, 1) 0%,
    rgba(255, 225, 187, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(206, 185, 255, 1) 0%,
    rgba(204, 225, 255, 1) 100%
  ); /* Light purple gradient */
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 185, 235, 1) 0%,
    rgba(255, 224, 189, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(187, 222, 255, 1) 0%,
    rgba(179, 255, 223, 1) 100%
  ); 
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #333; 
}

.edit-icon {
  color: #333; 
}
